# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
ENV/

# Pipenv files
Pipfile.lock


# VSCode settings
.vscode/

# Logs
*.log
*.tmp

# Environment variables
.env
